/**CSS Start**/
@import 'login_style.css';
@import url(http://fonts.googleapis.com/css?family=Lato:400,700,900,700italic);

html, body {
	background: #f6f6f6;
}

input, select {vertical-align: top; }

.wrapper {
	padding: 0;
	margin: 0;
	width: inherit;
	border-top: 3px solid rgba(10, 68, 54, .5);
}

.wrapper >.content-main {
	padding: 0 0 100px 0;
	margin: 0 auto!important;
	width: 80%;
}

.header h3{
	color: #549329;
	font-weight: 900;
	font-size: 24px;
	line-height: 18px;
	float: left;
	display: block;
	text-transform: uppercase;
	vertical-align: bottom;
}

.header {
	margin: 50px 0 20px 0;
}

.header h3  > span{
	color: #636363;
	font-weight: 700;
	font-size: 14px;
	text-transform: none;
}

.header .textsearch{
	float: right;
	margin: 0;
}

.header .textsearch li{
	display: inline-block;
	margin: 12px 0 0 10px;
}

.header .textsearch input[type="text"]{
	padding: 0 0 0 30px;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	border-radius: 3px; 
	-khtml-border-radius: 3px; 
	outline: none;
	border: 1px solid #688b83;
	background: #fff url(../images/search.png) no-repeat left;
	background-size: 12%!important;
	width: 175px;
	height: 25px;
	font-size: 14px;
	font-style: italic;
}

.header .textsearch button{
	background: #84b166;
	outline: none;
	height: 25px;
	border: 1px solid #49945c;
	color: #fff;
}

.header .textsearch button:hover, #main_nav button:hover  {
	background:#49945c;
	border: 1px solid #84b166;
}

.header .controls{
	margin: 20px 0 0 0; 
	float: right;
}

.header .controls li{
	display: inline-block;
	padding: 0;
	margin: 0 5px 0 5px;
	cursor: default;
	overflow: hidden;
	height: 20px;
}

.header .controls  .icon {
	margin: -20px 0 0 0;
	padding: 0;
}

.header .controls  .icon:hover{
	margin: 0;
	padding: 0;
}

.gallery-search{
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	border-radius: 4px; 
	-khtml-border-radius: 4px; 
	background: rgba(10, 68, 54, 0.5);
	padding: 10px;
	width: 60%;
	margin: 40px  auto;
}

.gallery-search select{
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	border-radius: 3px; 
	-khtml-border-radius: 3px; 
	outline: none;
	border: 1px solid #b4c1c8;
	width: 30%;
	height: 35px;
	vertical-align: top;
	-webkit-appearance: none;
	background:#fff url(../images/bg-select.png) no-repeat right;
	background-size: 18%;
}

.gallery-search input[type="search"] {
	padding: 0 0 0 50px;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	border-radius: 3px; 
	-khtml-border-radius: 3px; 
	outline: none;
	border: 1px solid #b4c1c8;
	background: #fff url(../images/search.png) no-repeat left;
	width: 69%;
	height: 35px;
	font-size: 18px;
	vertical-align: top;
}

/**main nav**/

#main_nav {
    display: none;
	position: absolute;
    top: 5%;
    left: 64.8%;
	background: rgba(212, 212, 212, .8);
	padding: 15px;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	border-radius: 3px; 
	-khtml-border-radius: 3px; 
	
}

#main_nav button  {
	background: #84b166;
	outline: none;
	height: 25px;
	width: 100%;
	border: 1px solid #49945c;
	color: #fff;
	margin: 8px 0 0 0;
}

#main_nav  ul > li{
   display: inline-block;
   margin: 2.5px 0;
}

#main_nav  p{
   width: inherit;
   border-bottom: 1px solid #959595;
   line-height: 28px;
   color: #0a4436;
   font-size: 18px;
   margin: 0 0 5px 0;
   text-align: center;
}

#main_nav  ul{
   width: 150px;
   border-top: 1px solid #e6dbd7;
}

#main_nav  img{
   width: 35px;
   height: auto;
}

#main_nav  img:hover{
   opacity: .5;
}

.with_nav #main_nav {
    display: inline-block;
	
}

.access_aid {
    display: block;
    top: 0;
    right: 0;
	margin: 5px 10px 0 0;
    width: 25px;
    height: auto;
    overflow: hidden;
	float: left;
}

/**table**/

.table-A thead{
	border-left: 1px solid #fc9a4a;
	border-right: 1px solid #fc9a4a;
}

.table-A th[data-sort]{
      cursor:pointer;
	  background: #fc9a4a url(../images/header-bg.png) no-repeat center right;
}

.table-A th{
	-webkit-box-shadow: inset 0px -3px 0px 0px rgba(0,0,0,0.35);
	-moz-box-shadow: inset 0px -3px 0px 0px rgba(0,0,0,0.35);
	box-shadow: inset 0px -3px 0px 0px rgba(0,0,0,0.35);
	color: #4f2a0b;
	background: #fc9a4a;
	padding: 11px 10px 14px 10px;
	margin: 0;
	border-right: 1px solid #d35228;
	border-left: 1px solid #fea87f;
	font-size: 14px;
}

.table-A th:first-child{
	border-right: 1px solid #d35228;
	border-left: none;
}

.table-A th:last-child{
	border-right: none;
	border-left: 1px solid #fea87f;
}

.table-A tr{
	border: 1px solid #e3e3e3;
	border-spacing: 5px 0;	
	cursor: default;
}

.tablesorter tr:hover{color: #f7941d}

.table-A td{
	padding: 11px 10px;
	border-right: 1px dashed #e3e3e3; 
	font-size: 14px;
}

.table-A .first-child{color: #f7941d; text-decoration: underline;}
.table-A td:last-child{border-right: none;}

.table-A .controls{
	margin: 0; 
}

.table-A .controls li{
	display: inline-block;
	padding: 0;
	margin: 0 5px 0 5px;
	cursor: default;
	overflow: hidden;
	height: 20px;
}

.table-A .controls  .icon {
	margin: -20px 0 0 0;
	padding: 0;
}

.table-A .controls  .icon:hover{
	margin: 0;
	padding: 0;
}

.total {
	margin: 50px 0 0 0;
}

.total  td{
	border: 1px solid #fc9a4a;
	font-size: 18px;
	padding: 20px 10px;
}

.total  .orange{
	background: #fc9a4a;
	color: #4f2a0b;
	font-weight: 700;
	text-align: right;
	padding: 0 10px 0 0;
	width: 80.8%;
}

/**form**/

.content-main .information {
	margin: 10px 0 40px 0;
	padding: 0;
	width: 50%;
	float: left;
}

.content-main .information02 {
	margin: 10px 0 40px 0;
	padding: 0;
}

.content-main .information h2, .content-main .information02 h2 {
	color: #353535;
	font-size: 18px;
	font-weight: 700;
	margin: 0 0 20px 0;
}

.customer {
	background: #e4e4e4;
	padding: 10px;
	margin: 0 0 20px 0;
}

.customer .page-title{
	margin: 0;
	padding: 0;
	float: left;
	color: #353535;
}

.customer  .page-title  h1 {
	font-size: 24px;
	color: #353535;
	margin: 0;
	padding: 0;
	line-height: 18px;
}

.customer  .page-title span{
	color: #353535;
	font-size: 16px; 
}

.customer  .page-title .photoID{
	width: 60px;
	height: 60px;
	border: 1px solid #d5d5d5;
	margin: 0;
	padding: 0;
}

.customer  .page-title li{
	margin: 0 10px 0 0;
	padding: 0;
	display: inline-block;
	vertical-align: middle;
	line-height: 16px;
	font-size: 14px;
	color: #353535;
}

.customer  .deets{
	margin: 0;
	padding: 0;
	float: right;
	vertical-align: middle;
}

.customer  .deets ul{
	display:block;
	float: left;
	font-size: 12px;
	margin-top: 5px;
}

.customer .deets li{
	line-height: 18px;
	color: #353535;
}

.customer  .deets ul:first-child{font-weight: 700!important; margin-right: 20px;}

/**form**/

.form_info {
	margin: 0;
	padding: 0;
}

.form_info .data-entry {
	margin: 0 60px 15px 0;
	display: block;
}

.form_info .data-entry  li{
	display: inline-block;
	vertical-align: top;
	color: #353535!important;
	font-size: 14px;
}

.form_info .data-entry  li:nth-child(2){
	margin: 0 -4px;
	width: 58%;
}

.form_info .data-entry  .roles{
	width: 84%!important;
}

.form_info .data-entry  img{
	height: auto;
	border: 1px solid #d3d3d3;
}

.form_info .data-entry  .pattern{
	width: 40%;
	height: auto;
	margin: 0 0 10px 0;
	border: 1px solid #d3d3d3;
}

.form_info .data-entry  label{
	width: 159px;
	padding: 0;
	display: block;
	font-weight: 700;
}

.form_info .data-entry  textarea{
	width: 300px;
	height: 100px;
	border: 1px solid #b4c1c8;
	outline: none;
}

.form_info .data-entry  .radio span, .form_info .data-entry .check span{
	color: #353535;
	margin: 0 0 0 3px;
	vertical-align: top;
}

.form_info .data-entry .radio {margin: 0 10px 0 0; display: inline-block;}

.form_info .data-entry input[type="text"], .form_info .data-entry input[type="number"]{
	font-size: 14px;
	outline: none;
	width: 268px;
	height: 25px;
	margin: 0 0 10px 0; 
	padding: 0 0 0 5px; 
	outline: none;
	border: 1px solid #b4c1c8;
}

.form_info .data-entry input[type="range"]{
	width: 63%;
	vertical-align: middle;
	margin: 0 5px 0 0;
	display: inline-block;
}

.form_info .data-entry input[type="file"] {
	font-size: 14px;
	outline: none;
	margin: 0 0 10px 0; 
	padding: 0 ; 
	outline: none;
	background: #fff;
	border: 1px solid #b4c1c8;
}

.form_info .data-entry  .check {
	margin: 0 20px 0 0; 
	float: left;
	min-width: 150px;
}

.form_info .data-entry .check input[type="checkbox"] {
	padding: 0;
	margin: 0;
	border: none;
	outline:none;
	width: 16px;
	height: 16px;
	vertical-align: baseline;
}

.form_info .data-entry .radio input[type="radio"] {
	padding: 0;
	margin: 0;
	vertical-align: middle;
}

.form_info .data-entry input[type="text"]:focus, 
.form_info .data-entry input[type="date"]:focus, 
.header .textsearch input[type="text"]:focus, 
.form_info .data-entry input[type="number"]:focus, 
.form_info .data-entry  textarea:focus, 
.form_info .data-entry select:focus{
	-moz-box-shadow: inset 0 0 5px #ccc;
    -webkit-box-shadow: inset 0 0 5px #ccc;
    box-shadow: inset 0 0 5px #ccc;
}

.form_info .data-entry  select{
	margin: 0!important;
	font-size: 14px;
	outline: none;
	height: 27px;
	width: 180px;
	color: #464646;
	padding: 0;
	border: 1px solid #b4c1c8;
	-webkit-appearance: none;
	background:#fff url(../images/bg-select.png) no-repeat right;
}

.form_info .data-entry  .special-select{
	width: 50%;
}

.submit {
	color: #fff;
	padding: 5.5px 10px;
	margin: 0;
	text-align: center;
	font-size:14px;
	text-decoration: none;
	text-align: center;
	border: none;
	outline: none;
	background: orange;
	display: block;
}

.submit:hover {
	background: #41cbff;
}
.greyed { opacity:.3;}

/**gallery thumbnails**/

.gallery {
	width: 100%;
	padding: 0;
	margin: 0 auto 100px auto;
}

.gallery .thumb {
	float: left;
	margin: 2px;
	padding: 0;
	width: 150px;
	height: 150px;
	overflow: hidden;
}

.gallery .thumb img{
	width: inherit;
	height: 150px;
}

.gallery .thumb > span{
	background: rgba(0, 0, 0, .5) url(../images/download.png) no-repeat;
	background-position: 95% 40%;
	color: #fff;
	width: 145px;
	margin: -38px 0 0 0;
	padding: 10px 0 10px 5px;
	display: block;
	text-align: left;
	position: absolute;
	font-size: 12px;
	cursor: default;
}

.gallery .thumb > span:hover{
	background: rgba(0, 0, 0, .8) url(../images/download.png) no-repeat;
	background-position: 95% 40%;
	color: orange;
}

/**Color Swatches**/
.swatch {
	margin: 0;
	padding: 0;
	display: block;
	width: 350px;
}

.swatch  > section {
	display: inline-block;
	margin: 0 3px 0 0;
	width: 30px;
	height: 30px;
}

.swatch .white {box-shadow: inset 0 0 1px rgba(0, 0, 0, .9)}

/**big buttons**/
.buttons {
	float: right;
	margin: 20px 0 0 0;
	padding: 0;
}

.back_button{
	float: left;
	background: transparent;
	margin: 0 0 0 3px;
	padding: 5px 15px 5px 15px;
	border: none;
	outline: none;
	font-size: 18px;
	color: #685335;
	text-transform: uppercase;
}

.save_button{
	float: left;
	background: orange;
	margin: 0 0 0 3px;
	padding: 5px 15px 5px 15px;
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	border-radius: 4px; 
	-khtml-border-radius: 4px; 
	border: none;
	outline: none;
	font-size: 18px;
	color: white;
	text-transform: uppercase;
	box-shadow: inset 0 -3px 0 0 rgba(10, 68, 54, .5);
}

.advanced {
	background: #00aeef;
	margin: 0;
	padding: 4px 15px 8px 15px;
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	border-radius: 4px; 
	-khtml-border-radius: 4px; 
	border: none;
	outline: none;
	font-size: 16px; font-weight: 700;
	color: white;
	text-transform: uppercase;
	box-shadow: inset 0 -3px 0 0 rgba(10, 68, 54, .5);
}

.cancel_button{
	float: left;
	background: #d90d00;
	margin: 0 0 0 3px;
	padding: 5px 15px 5px 15px;
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	border-radius: 4px; 
	-khtml-border-radius: 4px; 
	border: none;
	outline: none;
	font-size: 18px;
	color: white;
	text-transform: uppercase;
	box-shadow: inset 0 -3px 0 0 rgba(10, 68, 54, .5);
}

.save_button:hover, .cancel_button:hover, .advanced:hover {
	background-color: #ff0000;
	-webkit-transition:0.2s ease;
    -moz-transition:0.2s ease;
    -ms-transition:0.2s ease;
    -o-transition:0.2s ease;
    transition:0.2s ease;
	border: none;
}

.back_button:hover{
	color: orange;
}
