.home-create
  .btn
    position: relative
    transition: color 200ms ease
    &:after, &:before
      display: block
      opacity: 0
      position: absolute
      content: ''
      top: 1.15em
      left: 4%
      width: 90%
      height: 0.5em
      background-color: transparent
      border: 0.15em solid #fff
      border-radius: 0.8em
    &:after
      width: 0
      background-color: #fff
      margin-left: 0.15em
      transition: width 0.6s ease-in
      border-radius: 0.8em 0 0 0.8em
    &.animate
      color: transparent
      &:before
      &:after
        opacity: 1
        border-radius: 0.8em
      &:after
        width: 90%
        margin-left: 0


.home-create
.home-signup
  col(1/2)
  margin-top: -6%
  img
    width: 50%
    display: block
    margin: 0 auto
    margin-bottom: 0.5em
  .btn
    width: 50%
    min-width: 300px
    padding: 0.9em 1em
    font-size: 1.5em
    &:active
      top: 4px !important

.home-gallery
  background-color: #86412A
  border-radius: 15px
  width: 22.5%
  margin: 0 auto
  padding: 0.5em 0.25em
  p
    font-size: 1.25em
    font-weight: 300
    margin: 0
    padding: 0.5em
  .btn
    border-width: 5px
    font-size: 1em
    border-radius: 10px
    padding: 0.85em 1em
    &:active
      top: 4px !important


