.options-header
  margin-bottom: 1em !important
  cf()
  li
    col(1/3)
    a
      background-color: orange
      text-transform: uppercase
      font-weight: 300
      border-radius: 8px
      border-bottom: 5px solid #86412A
      font-size: 1.25em
      letter-spacing: 0.05em
      width: 100%
      margin-right: 5%
      text-align: center
      display: block
      color: #fff
      padding: 0.25em 0.5em
      cursor: pointer
      position: relative
      &:hover
        font-weight: bold
      &:active
        top: 4px
        border-bottom-width: 0
        font-weight: bold
      &.active
        top: 4px
        border-bottom-width: 0
        font-weight: bold
        &:after
          content: ''
          display: block
          width: 0
          height: 0
          top: 100%
          left: 50%
          margin-left: -10px
          border-left: 10px solid transparent
          border-right: 10px solid transparent
          border-top: 10px solid orange
          position: absolute
